In [26]:
import pandas as pd
df=pd.read_excel('Книга2.xlsx', sheet_name='Книга1')
df

   name       data
0  text 2013-12-02
1  hhhh 2013-12-03

In [28]:
df.to_csv('csv.csv')

In [8]:
import csv

In [29]:
df

   name       data
0  text 2013-12-02
1  hhhh 2013-12-03

In [20]:
with open('csv.csv') as File:
    csv_reader = csv.DictReader(File)
    
    for row in csv_reader:
        print(row)
        print(row)

{'': '0', 'text': 'hhhh', '2013-12-02 00:00:00': '2013-12-03'}
{'': '0', 'text': 'hhhh', '2013-12-02 00:00:00': '2013-12-03'}

In [ ]:
 
    print(csv_reader)
    for row in csv_reader():
        News.objects.create(name=row[0], data=row[1])

In [22]:
i=input()
print(str(i))

,text,2013-12-02 00:00:00 0,hhhh,2013-12-03
,text,2013-12-02 00:00:00 0,hhhh,2013-12-03